body {
background-color: lightskyblue;
}

.container {
    width: 100%;
}

#housewives-view {
    width: 30%;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

#andy-image{
    position:fixed;
    bottom: 0px;
    left: 0px;
}

#buttons {
    padding: 1px;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.bravo {
    margin: 1px;
}

h1 {
    text-align: center;
    font-family: 'Chicle', cursive;
}

#topics{
    font-family: 'Chicle', cursive;
    font-size: 18px; 
}

em{
    font-size:14px;
}

p {
    font-family: 'Chicle', cursive;
    font-size:18px; 
    color: darkorchid;
}